.status {
  display: flex;
  background-color: rgb(99, 98, 123);
  height: 50px;
  color: aliceblue;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  font-family:'Lucida Sans', sans-serif

}
.dataContainer {
 
  display: flex;
  flex-direction: row;
  align-content: space-between;
  flex-wrap: wrap;
  height: 100vh; 
  justify-content: center;
}
.cardContainer {
  display:flex;
  flex-direction: column;
  height: 190px;
  width: 190px;
  justify-content: center;
  align-items: center;
  margin: 5px 5px;
  background-color: aliceblue;
  box-shadow: 5px 5px 5px lightblue
   
}
.title {
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.green_message {
  display: flex;
  color: aliceblue;
  font-size: 25px;
  width: 80%;
  background-color: green;
  justify-content: center;
  
}
.red_message {
  display: flex;
  color: aliceblue;
  font-size: 25px;
  width: 80%;
  background-color: rgb(248, 0, 0);
  justify-content: center;
}
.error_message {
color: red;
font-size: 30px;
}
.error_number {
  color: red;
}
